.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    background-color: rgb(241, 162, 202);
    margin: 5% 25% 0 25%;
    box-shadow: 2px 3px 4px 3px gray;
    border-radius: 2rem;
}
.register-container > * {
    margin: 0.7rem;
}
.register-container > button {
    cursor: pointer;
    border: none;
    background-color: blue;
    padding: 0.5rem;
    color: white;
    border-radius: 0.4rem;
}
.register-container > button:hover{
    background-color: white;
    color: blue;
}
.register-container > input{
    border-style: none;
    padding:0.3rem;
}